.filter-bar {
    padding: 20px;
    background-color: #fff;
    width: 220px;
    height: calc(100vh - 70px);
    position: sticky;
    top: 70px;
    border-right: 1px solid #ddd;
}

.filter-bar h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.filter-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-group label {
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

.filter-group input {
    margin-right: 8px;
    accent-color: #3facff;
}