html, body {
  height: 100%;
  margin: 0;
}

#root, .app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  background-color: #9C6644;
  color: #fff;
  
}


.footer-container {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-section {
  flex: 1 1 200px;
  min-width: 150px;
}

.footer-section h4 {
  font-size: 16px;
  margin-bottom: 12px;
}

.footer-section p {
  margin: 6px 0;
  font-size: 14px;
  cursor: pointer;
}

.footer-section p:hover {
  text-decoration: underline;
}

.app-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.app-icons img {
  width: 120px;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #aaa;
}