
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    font-weight: bold;
    font-size: 1.5rem;
    color: #5fb9bd;
    cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 14px;
}

.nav-links a:hover {
  color: #185457;
}

/* Search bar */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f1f1f1; 
  border-radius: 3px;       
  padding: 6px 12px;
  width: 550px;
}

.search-container {
  position: relative;
  flex-grow: 1;
  max-width: 400px;
  margin: 0 20px;
}

.search-input {
  width: 100%;
  padding: 8px 35px 8px 15px;
  border: none;
  background-color: #f5f5f6;
  border-radius: 5px;
  outline: none;
}

.search-input::placeholder {
  color: #777;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}

.nav-icons {
  display: flex;
  gap: 18px;
  align-items: center;
}

.nav-icons i{
  font-size: 1.3rem;
  color: #333;
  cursor: pointer;
}

.nav-icons .i:hover {
  color: #185457;
}