.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  transition: 0.3s ease-in-out;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  transform: scale(1.03);
}

.img-container {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.card-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.card-info{
    text-align: left;
    padding: 0 5px;
    flex-grow: 1;
}

.product-title {
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0;
    color: #212121;
    height: 40px;
    overflow: hidden;
}

.brand {
  font-size: 12px;
  color: #757575;
  margin-bottom: 5px;
}

.price {
    font-size: 14px;
  font-weight: bold;
  color: #212121;
  margin-top: 8px;
}

.add-btn {
  background-color: #206f8e;
  border: none;
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

.add-btn:hover {
  background-color: #528896;
}
