.product-card {
  position: relative;
  width: 220px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
}

.img-container {
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Wishlist Heart Icon */
.wishlist-icon {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 20px;
  color: #888;
  cursor: pointer;
  z-index: 10; /* ensures it stays above image */
  transition: color 0.2s ease, transform 0.2s ease;
}

.wishlist-icon:hover {
  color: rgb(251, 145, 145);
  transform: scale(1.1);
}

.product-info {
  margin-top: 10px;
}

.product-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
}

.price {
  font-weight: bold;
  color: #000;
  margin-bottom: 8px;
}

.add-btn {
  background-color: #800000;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 5px;
}

.add-btn:hover {
  background-color: #982B1C;
}

.add-btn.added {
  background-color: #982B1C;
  cursor: pointer;
  transition: 0.3s ease;
}
.add-btn.added:hover {
  background-color: #982B1C;
}
