.app {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  width: 100%;
}

.main-content {
  display:flex;
  background-color: #f6f6f6;
  min-height: calc(100vh - 70px);
}

.product-section{
  flex:1;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
